.box1 {
  background-color: gainsboro;
  border: 1px solid;
  width: 200px;
  height: 250px;
  text-align: center;
}
.box2 {
  background-color: gainsboro;
  border: 1px solid;
  width: 200px;
  height: 250px;
  text-align: center;
}
.box3 {
  background-color: gainsboro;
  border: 1px solid;
  width: 200px;
  height: 250px;
  text-align: center;
}
.container {
  display: flex;
  width: 100%;
  margin-left: 300px;
  margin-top: 100px;
  gap: 15px;
}
body {
  background-color: gainsboro;
}

.btn {
  background-color: black;
  color: white;
  width: 150px;
  height: 30px;
  border-radius: 15px;
}

.fa-facebook {
  font-size: 50px;
}
.Css {
  margin-left: 450px;
}
